@media(prefers-reduced-motion:no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

.address-header {
    display: flex;
    margin-right: auto;
    font-style: normal;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    width: auto;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.phone-soc-link-header {
    fill: white;
}

.mail-soc-link-header {
    fill: white;
}

.hero-container {
    width: 1690px;
    background-image: url(../images/background/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 133px;
    padding-bottom: 362px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo {
    color: white;
    margin-right: 60px;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.header-item-link {
    color: white;
    font-family: Lexend;
    font-weight: 400;
    font-size: 22px;
}

.header-list {
    display: flex;
    gap: 60px
}

.address-list {
    display: flex;
}

.address-item.phone-number {
    margin-right: 25px;
}

.change-language {
    display: flex;
}

.address-item-link {
    color: white;
    font-family: Lexend;
    font-size: 17px;
    font-weight: 400;
}

.change-language-text {
    float: left;
}

.header {
    position: absolute;
    width: 100%;
    border-bottom: 3px solid;
    border-color: white;
}

.hero-title {
    color: white;
    font-family: Lexend;
    font-size: 48px;
    margin-bottom: 70px;
}

.hero-wrap {
    display: flex;
    height: 359px;
    align-items: center;
}

.hero-text-info {
    margin-right: auto;
}

.hero-description {
    color: white;
    font-family: Lexend;
    font-size: 28px;
    width: 707px;
}

.client-info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-info-wrap {
    height: 205px;
}

.for-client {
    padding-left: 25px;
    width: 350px;
    height: 40px;
}

.for-client::placeholder {
    padding-top: 8px;
    padding-left: 10px;
    color: black;
    font-family: Lexend;
}

.client-name {
    margin-bottom: 35px;
    outline: transparent;
}

.client-phone {
    margin-bottom: 50px;
    outline: transparent;
}

.send-client-info.for-client {
    background: #3A6612;
    padding: 0px;
    border: none;
    font-family: Lexend;
    color: white;
    font-size: 20px;
}


/*------------------OFERTY----------------------*/

.offers {
    position: relative;
    margin-top: -240px;
    width: 100%;
    margin-bottom: 70px;
}

.offers-item {
    background-color: #3A6612;
    height: 450px;
    padding: 20px;
}

.offers-title {
    text-align: left;
    color: white;
    font-size: 36px;
    padding-bottom: 25px;
}

.offers-list {
    display: flex;
    gap: 40px;
}

.offers-item-link {
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.offers-item-link:hover {
    text-decoration: underline;
}

.offers-item-img {
    margin-bottom: 57px;
}


/*------------------O-FIRMIE----------------------*/

.about-us {
    margin-bottom: 40px;
}

.about-us-title {
    font-family: Lexend;
    font-size: 28px;
    margin-bottom: 25px;
}

.about-us-description {
    font-family: Lexend;
    font-size: 17px;
}

.about-us-description.top {
    margin-bottom: 40px;
}

.about-us-photo-list {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
}

.about-us-photo-item {}


/*------------------CONTACTS----------------------*/

.contact-section {
    margin-bottom: 94px;
}

.contact-title {
    font-family: Lexend;
    font-size: 28px;
    margin-bottom: 25px;
}

.contact-info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-factory-name {
    font-weight: bold;
}

.contact {
    font-family: Lexend;
    font-size: 17px;
    color: black;
}

.contact-list {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.contact-item {}

.contact-address {
    display: flex;
    align-items: center;
}

.location-soc-link {
    margin-right: 15px;
}

.phone-soc-link {
    margin-right: 15px;
}

.mail-soc-link {
    margin-right: 15px;
}

.contact-address-link {}

.link {}

.contact-phones {
    display: flex;
    align-items: center;
}

.contacts-phones-list {}

.contacts-phones-item {}

.contacts-phones-item-link {}

.contact-emails {
    display: flex;
    align-items: center;
}

.contacts-emails-list {}

.contacts-emails-item {}

.contacts-emails-item-link {}


/*------------------FOOTER----------------------*/

.address-footer {
    display: flex;
    margin-left: auto;
    font-style: normal;
}

.footer {
    background-color: #3A6612;
    width: 100%;
}

.footer-logo-link {
    color: white;
    margin-right: 90px;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-link {
    color: white
}

.container {}

.footer-container {
    display: flex;
    padding-top: 57px;
    padding-bottom: 43px;
}

.footer-list {
    display: flex;
    align-items: center;
}

.list {}

.footer-list-item {}

.link {}

.footer-nav {}

.footer-nav-list {
    display: flex;
    gap: 62px;
}

.footer-nav-list-item {}

.nav-item-link {
    font-family: Lexend;
    font-size: 17px;
    font-weight: 400;
}

.footer-address {}

.footer-address-list {}

.footer-address-item {}

.footer-address-item-link {
    font-family: Lexend;
    font-size: 13px;
    font-weight: 400;
}

.footer-additional-items {}

.footer-additional-items-list {
    justify-content: space-between;
    display: flex;
}

.footer-additional-item {}

.footer-additional-item-link {}

.created-by-list {
    display: flex;
}

.created-by-item {
    color: white;
}

.developer-link {}

.phone-soc-link-footer {
    fill: white;
}

.mail-soc-link-footer {
    fill: white;
}