p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

address {
    display: flex;
    margin-right: auto;
    font-style: normal;
}

ul {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    width: auto;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    border: 1px solid;
    border-top: none;
    border-bottom: none;
    border-color: aqua;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.hero-container {
    flex-grow: 1;
    background-image: url(../images/background/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 133px;
    padding-bottom: 362px;
}

.header-logo {
    margin-right: 90px;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.list {
    list-style: none;
}

.header-list {
    display: flex;
    gap: 62px
}

.address-list {
    display: flex;
}

.address-item.phone-number {
    margin-right: 92px;
}

.change-language {
    display: flex;
}

.change-language-text {
    float: left;
}

.header {
    background-color: darkolivegreen;
}

.hero-title {
    color: white;
    font-family: Lexend;
    font-size: 48px;
    margin-bottom: 70px;
}

.hero-wrap {
    display: flex;
    height: 359px;
}

.hero-text-info {
    margin-right: auto;
}

.hero-description {
    color: white;
    font-family: Lexend;
    font-size: 28px;
    width: 707px;
}

.client-info-wrap {
    display: flex;
    flex-direction: column;
}

.for-client {
    width: 350px;
    height: 40px;
}

.client-name {
    margin-bottom: 35px;
}

.client-phone {
    margin-bottom: 50px;
}


/*------------------OFERTY----------------------*/

.offers-item {
    background-color: #3A6612;
    width: 360px;
    height: 450px;
}

.offers-title {
    color: white;
}

.offers-list {
    display: flex;
}