/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
a, a:link, a:visited  {
    text-decoration: none;
}
a:hover  {
    text-decoration: none;
}
aside, nav, footer, header, section, main {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}
ul, ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
img, svg {
	max-width: 100%;
	height: auto;
}
address {
  font-style: normal;
}
input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}
input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
label {
	cursor: pointer;
}
legend {
	display: block;
}


@media(prefers-reduced-motion:no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}

@media (max-width: 1200px){
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px){
    .container {
        max-width: none;
    }

    .offers-list {
        flex-direction:column;
    }
}

body {
    background: #9ab1eb;
    font-family: Lexend;
    font-weight: 400;
}


.open{
    display: flex !important;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-logo-nav {
    display: none;
}

.header-nav {
    margin-left: 30px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: white;
    font-weight: 800;
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.phone-soc-link-header {
    fill: white;
}

.mail-soc-link-header {
    fill: white;
}

.header-item-link {
    color: white;
    font-family: Lexend;
    font-weight: 400;
    font-size: 18px;
}

/*language*/
.language-item {
    display: flex;
    align-items: center;
}

.language-item-toggle{
    display: none;
    align-items: center;
}

.language-list p{
    color: #fff;
    size: 17px;
    padding-left: 10px;
    padding-right: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgba(85, 85, 85, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu a{
    align-items: center;
    display: flex;
    padding: 10px;
  }
  
  /* При наведении на .dropdown */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* При наведении на опцию меню */
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-item {
    align-items: center;
    display: flex;
    gap: 5px;
}





.address-item-link {
    color: white;
    font-family: Lexend;
    font-size: 17px;
    font-weight: 400;
}


/* burger */
.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
}
.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}
.burger::before { top: 0 }

.burger::after { bottom: 0 }

.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
@media (max-width: 900px) {
    .burger { display: flex }

    .header-nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: #000;
        animation: burgerAnimation 0.4s;
    }
    .nav ul{
        flex-direction: column;
        row-gap: 30px;
    }
}
@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}

.hero-container {
    background-image: url(../images/background/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 362px;
}

.hero-title {
    color: white;
    font-family: Lexend;
    font-size: 32px;
    margin-bottom: 35px;
}

.hero-wrap {
    display: flex;
    height: 359px;
    align-items: center;
    justify-content: space-between;
}

.hero-text-info {
    margin-right: auto;
}

.hero-description {
    color: white;
    font-family: Lexend;
    font-size: 24px;
    max-width: 707px;
}

.form__group {
    max-width: 300px;
}
    
.form__group input{
    padding-left: 25px;
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    outline:none
}

.form__group input:last-child{
    margin-bottom: 30px;
}

.form__submit-button button {
    background: #3A6612;
    padding: 7px 260px 7px 20px; 
    border: none;
    font-family: Lexend;
    color: white;
    font-size: 20px;
    
}

/* form mobile */
@media (max-width: 900px) {
    .hero-wrap {
        display: block;
    }
    .contact-info-wrap {
        display: block;
    }
}

/*------------------OFERTY----------------------*/

.offers {
    margin-top: -240px;
    margin-bottom: 70px;
}

.offers-item {
    background-color: #3A6612;
    height: 450px;
    padding: 20px;
}

.offers-title {
    text-align: left;
    color: white;
    font-size: 36px;
    padding-bottom: 25px;
}

.offers-list {
    display: flex;
    gap: 40px;
}

.offers-item-link {
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.offers-item-link:hover {
    text-decoration: underline;
}

.offers-item-img {
    margin-bottom: 57px;
}


/*------------------O-FIRMIE----------------------*/

.about-us {
    margin-bottom: 40px;
}

.about-us-title {
    font-family: Lexend;
    font-size: 28px;
    margin-bottom: 25px;
}

.about-us-description {
    font-family: Lexend;
    font-size: 17px;
}

.about-us-description.top {
    margin-bottom: 40px;
}

.about-us-photo-list {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
}

.about-us-photo-item {}


/*------------------CONTACTS----------------------*/

.contact-section {
    margin-bottom: 94px;
}

.contact-title {
    font-family: Lexend;
    font-size: 28px;
    margin-bottom: 25px;
}

.contact-info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-factory-name {
    font-weight: bold;
}

.contact {
    font-family: Lexend;
    font-size: 17px;
    color: black;
}

.contact-list {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.contact-item {}

.contact-address {
    display: flex;
    align-items: center;
}

.location-soc-link {
    margin-right: 15px;
}

.phone-soc-link {
    margin-right: 15px;
}

.mail-soc-link {
    margin-right: 15px;
}

.contact-address-link {}

.link {}

.contact-phones {
    display: flex;
    align-items: center;
}

.contacts-phones-list {}

.contacts-phones-item {}

.contacts-phones-item-link {}

.contact-emails {
    display: flex;
    align-items: center;
}

.contacts-emails-list {}

.contacts-emails-item {}

.contacts-emails-item-link {}


/*------------------FOOTER----------------------*/

.address-footer {
    display: flex;
    margin-left: auto;
    font-style: normal;
}

.footer {
    background-color: #3A6612;
    width: 100%;
}

.footer-logo-link {
    color: white;
    margin-right: 90px;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-link {
    color: white
}

.container {}

.footer-container {
    display: flex;
    padding-top: 57px;
    padding-bottom: 43px;
}

.footer-list {
    display: flex;
    align-items: center;
}

.list {}

.footer-list-item {}

.link {}

.footer-nav {}

.footer-nav-list {
    display: flex;
    gap: 62px;
}

.footer-nav-list-item {}

.nav-item-link {
    font-family: Lexend;
    font-size: 17px;
    font-weight: 400;
}

.footer-address {}

.footer-address-list {}

.footer-address-item {}

.footer-address-item-link {
    font-family: Lexend;
    font-size: 13px;
    font-weight: 400;
}

.footer-additional-items {}

.footer-additional-items-list {
    justify-content: space-between;
    display: flex;
}

.footer-additional-item {}

.footer-additional-item-link {}

.created-by-list {
    display: flex;
}

.created-by-item {
    color: white;
}

.developer-link {}

.phone-soc-link-footer {
    fill: white;
}

.mail-soc-link-footer {
    fill: white;
}